<style>
    th, td {padding: 5px;}
    .row {border-bottom: 1px solid #ddd; padding: 5px; cursor: pointer; height: 50px;}
    .detailtab {display: none}
</style>
<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#!/home">Home</a> > <a href="#!/viewit">Issue Tracking</a> > Logs</p>   
<div class="row-padding">
  <div class="one-column">  
      <div>
          <table>
            <tr class="row" onclick="showdetail('detail1')"><td>{{pm}} (Property Manager) > <span style="color: #9d9d9d">Talked to Ravi (Tenant) and understand the issue</span>
                <table id="detail1" class="detailtab"><tr><td>Air Condition noice came 2 days back and it stopped running</td></tr></table>
            </td></tr>
            <tr class="row" onclick="showdetail('detail2')"><td>{{pm}} (Property Manager) > <span style="color: #9d9d9d">Talked to Jeff (Service Provider) and requested for quote/estimate</span><div>
                <table id="detail2" class="detailtab"><tr><td>Had a phone call with Jeff (Service Provider) and explained the issue. He is going to provide us the quote</td></tr></table></div>
            </td></tr>
            <tr class="row" onclick="showdetail('detail3')"><td>Jeff (Service Provider) > <span style="color: #9d9d9d">Uploaded the quote</span><div>
                <table id="detail3" class="detailtab"><tr><td>Please find the attached quote <img src="assets/pdf.png" width="15" height="18"></td></tr></table></div>
            </td></tr>
            <tr class="row" onclick="showdetail('detail4')"><td>{{owner}} (Owner) > <span style="color: #9d9d9d">Approved the quote</span><div>
                <table id="detail4" class="detailtab"><tr><td>Had a phone call with Mark (Property Manager) and understand the estimate details hence approving</td></tr></table></div>
            </td></tr>
            <tr class="row" onclick="showdetail('detail5')"><td>{{pm}} (Property Manager) > <span style="color: #9d9d9d">assgined the work</span><div>
                <table id="detail5" class="detailtab"><tr><td>Assigned the work to Jeff (Service Provider) and he started the work</td></tr></table></div>
            </td></tr>
            <tr class="row" onclick="showdetail('detail6')"><td>Jeff (Service Provider) > <span style="color: #9d9d9d">Finished the work, invoice raised</span><div>
                <table id="detail6" class="detailtab"><tr><td>Completed the work. Attached the invoice <img src="assets/pdf.png" width="15" height="18"></td></tr></table></div>
            </td></tr>
            <tr class="row" onclick="showdetail('detail7')"><td>{{pm}} (Property Manager) > <span style="color: #9d9d9d">Talked to Ravi (Tenant) and confirmed that issue resolved</span><div>
                <table id="detail7" class="detailtab"><tr><td>Had a phone call with Ravi (Tenant) and confirmed that the problem is fixed and also got the ratings of SP.</td></tr></table></div>
            </td></tr>
              <tr><td></td></tr>
          </table>
      </div>
      <div>
          <table>
            <tr><th>Whom should receive email?</th></tr>
            <tr><td>
                <input type="checkbox" value="owner">Joe (Owner)
                <input type="checkbox" value="sp">Jeff (Service Provider)
                <input type="checkbox" value="pm">Me (Property Manager)
            </td></tr>
            <tr><td><textarea rows="5" cols="50"></textarea></td></tr>
            <tr><td><input type="file" name="fileupload"></td></tr>
            <tr><td>
                <input type="button" class="button" name="back" value="Back"  onclick="window.location.href='#!/viewit'">
                <input type="button" class="button" name="save" value="Save">
            </td></tr>
          </table>
      </div>
  </div>
  
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->
<script>
    function showdetail(eledetail) {
        var detail = document.getElementById(eledetail);        
        if(detail.style.display == "none") {
            detail.style.display="block";
        } else {
            detail.style.display="none";
        }
    }
</script>