<!-- header starts -->
<div class="container grey">
  <h1>Prime Realty</h1> 
  <h4>Realty Management Service</h4> 
  <p>All property related work at one place..</p>
</div>
<!-- header ends -->  
<div>
<ul class="topnav">
  <li><a class="active" href="#/home">Home</a></li>
  <li><a href="#/home">Property Management</a></li>
  <li><a href="#/home">Issue Tracking</a></li>
  <li class="right"><a href="#/home">About</a></li>
</ul>
</div>
<!-- content starts -->
<h4>Prime Realty Home</h4>   
<div class="row-padding">
  <div class="two-column">            
      <table>                 
             <tr>
                 <td>Welcome {{user.username}}</td>
             </tr>             
             <tr>
                 <td><button class="button" onclick="window.location.href='#/signin'">Sign Out</button></td>
             </tr>
         </table>    
  </div>
  <div class="two-column">
      &nbsp;
  </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div class="container grey">
  <h3>Footer Info</h3> 
  <p>KOSoft Copyright 2020</p> 
</div>
<!-- footer ends -->
