<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->    
    
<!-- content starts -->
<div class="row-padding">
  <div class="one-column">
    <h4>Send password to your email</h4>
      <span>{{result.message}}</span> <span>{{result.emailmessage}}</span>
     <form ng-submit="getpassword()">            
         <table>                 
             <tr>
                 <td>Email</td><td colspan="2"><input type="email" class="textfield" ng-model="username" required></td>
             </tr>                  
             <tr>
                 <td><button class="button" onclick="window.location.href='#!/'">Home</button></td>
                 <td>
                     <input type="submit" id="fpwdsubmit" class="button" value="Submit"/>                     
                 </td>
                 <td>                     
                     <img id="spinner" ng-src="assets/spinner.gif" width="70" height="40" style="display: none"/>
                 </td>
             </tr>
         </table>         
     </form>
  </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->
