<!-- header starts -->
<div class="container grey">
  <h1>Prime Realty</h1> 
  <h4>Realty Management Service</h4> 
  <p>All property related work at one place..</p>
</div>
<!-- header ends -->    
    
<!-- content starts -->
<form>
<h4>Sign Up with Jamun</h4>   
<div class="row-padding">
  <div class="two-column">             
        <table>                 
             <tr>
                 <td><button class="button" onclick="window.location.href='#/signin'">Sign In</button></td>
                 <td><button class="button" onclick="window.location.href='#/signup'">Sign Up</button></td>
             </tr>                       
       	</table>    
  </div>
  <div class="two-column">
      &nbsp;
  </div>
</div>
</form>
<!-- content ends -->
    
<!-- footer starts -->    
<div class="container grey">
  <h3>Footer Info</h3> 
  <p>KOSoft Copyright 2020</p> 
</div>
<!-- footer ends -->
