<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->    
    
<!-- content starts -->
<form ng-submit="submitForm()">
<h4>Sign Up</h4>  
<span>{{result.message}}</span> <span>{{result.emailmessage}}</span>
<div class="row-padding">
  <div class="two-column">         
         <table>     
             <tr>
                 <td>Email</td><td colspan="2"><input type="email" class="textfield" ng-model="EmailAddress" required/></td>
             </tr>                  
             <tr>
                 <td>Password</td><td colspan="2"><input type="password" class="textfield" ng-model="UserPassword" required/></td>
             </tr>
             <tr>
                 <td>First Name</td><td colspan="2"><input type="text" class="textfield" ng-model="FirstName" required/></td>
             </tr>
             <tr>
                 <td>Middle Name</td><td colspan="2"><input type="text" class="textfield" ng-model="MiddleName" value=""/></td>
             </tr>
             <tr>
                 <td>Last Name</td><td colspan="2"><input type="text" class="textfield" ng-model="LastName" value=""/></td>
             </tr>
             <tr>
                 <td>Gender</td>
                 <td colspan="2"><select ng-model="Gender" class="textfield" ng-options="gender.Gender for gender in genders">                        
                     </select>
                 </td>
             </tr>                
             <tr>
               <td>&nbsp;</td>
                <td>
                    <input type="submit" id="signupsubmit" class="button" value="Sign Up"/>                    
                 </td>
                 <td><img id="spinner" ng-src="assets/spinner.gif" width="70" height="40" style="display: none"/></td>
           </tr> 
         </table>       
  </div>
  <div class="two-column">
      &nbsp;
  </div>
</div>
</form>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->

