<style>
    th, td {border-bottom: 1px solid #ddd; padding: 5px;}
    table.inlineTable{display:inline;}
</style>
<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#!/home">Home</a> > <a href="#!/viewissuereq">Issue Request</a> > View</p>   
<div class="row-padding">
    <p>{{result.message}}</p>
    <p><a id="createissue" href="#!/createissuereq" title="create Issue Request">Create</a></p>
  <div class="one-column">
      <table><tr ng-repeat="propertyissues in propertiesissues"><td>
      <table class="inlineTable">
          <tr><th>Property Address</th></tr>
          <tr><td>{{propertyissues.PropertyInformation.Address1}} {{propertyissues.PropertyInformation.Address2}}, {{propertyissues.PropertyInformation.CityName}}, {{propertyissues.PropertyInformation.StateCode}}</td></tr>
      </table>
      <table class="inlineTable">
          <tr><th>IssueReq#</th><th>Issue</th><th>Description</th><th>Category</th><th><img src="assets/attachment.png" width="20" height="20"></th><th>Status</th><th ng-if="authority=='ROLE_PROPERTYMANAGER' || authority=='ROLE_OWNER/PROPERTYMANAGER'">Service Provider</th></tr>          
          <tr ng-repeat="issue in propertyissues.Issues"><td><div ng-if="authority!='ROLE_TENANT'"><a href="#!/viewissuereqlogs?{{issue.idIssue}}">IR{{issue.idIssue}}</a></div><div ng-if="authority=='ROLE_TENANT'">IR{{issue.idIssue}}</div></td><td>{{issue.Issue}}</td><td>{{issue.IssueDescription}}</td><td>{{issue.IssueCategory}}</td>
              <td>
              <div ng-if="issue.AttachmentType">
                  <div ng-if="issue.AttachmentType.indexOf('image') != -1"><img ng-src="assets/images.png" width="15px" height="15px" ng-click="openAttachment(issue.Url)" style="cursor:pointer"/></div>
                  <div ng-if="issue.AttachmentType.indexOf('pdf') != -1" ng-click="downloadAttachment(issue.Url)" style="cursor:pointer"><img ng-src="assets/pdf.png" width="15px" height="15px"/></div>
              </div></td>
              <td><div ng-if="authority=='ROLE_PROPERTYMANAGER' || authority=='ROLE_OWNER/PROPERTYMANAGER'"><select ng-model="issue.issuestatusdata.selectedOption" class="textfield" ng-options="issueStatus.IssueStatus for issueStatus in issue.issuestatusdata.availableOptions track by issueStatus.idIssueStatus" ng-change="statusChange(issue.idIssue, issue.issuestatusdata.selectedOption.idIssueStatus)"> 
                     </select></div><div ng-if="authority!='ROLE_PROPERTYMANAGER' && authority!='ROLE_OWNER/PROPERTYMANAGER'">{{issue.IssueStatus}}</div></td><td ng-if="authority=='ROLE_PROPERTYMANAGER' || authority=='ROLE_OWNER/PROPERTYMANAGER'"><div ng-click="openServiceProvider(issue.idIssue)" style="text-decoration: underline;color:blue;cursor:pointer">{{issue.assignperson}}</div></td></tr>      
      </table>       
      </td></tr></table>
      <div ng-if="propertiesissues.length == 0">No issue requests found</div>
      <br/><br/>
  </div>  
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->
