<style>
    tr:hover {background-color: #b5b0b0;}
    th, td {border-bottom: 1px solid #ddd; padding: 5px;}
    .displayin {display: inline;}
</style>
<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#/home">Home</a> > <a href="#/viewpi">Property Management</a> > <a href="#/viewpi">Property Information</a> > Add Owner</p>   
<div class="row-padding">
    <div>
      <div class="displayin"><a href="#/addowner" onclick="return showcopy();">Owner Sign Up Link:</a></div> <div id="copydiv" class="displayin" style="display: none"><input type="text" ng-model="signupbypropertyinfolink" id="copylink"/><input type="button" class="button" value="Copy" onclick="fun()"></div>
    </div>
    <div style="height: 10px;"></div>
  <div class="two-column">             
      <table>
          <tr><th colspan="2">Property Information</th></tr>
          <tr><th>Type</th><th>Address</th></tr>
          <tr><td>Condo/Aptmts</td><td>13 Simpson Rd, Atlanta, GA</td></tr>          
      </table>          
  </div>
  <div class="two-column">             
      <table>
          <tr><th colspan="4">Owner Details</th></tr>
          <tr><th colspan="2">Select</th><th>Start Date</th><th>End Date</th></tr>
          <tr>
            <td><input type="radio" name="rad"/></td>
            <td>Kim</td>
            <td><input type="date" name="startdate"/></td>
            <td><input type="date" name="enddate"/></td>
          </tr>   
          <tr>
            <td><input type="radio" name="rad"/></td>
            <td>Kate</td>
            <td><input type="date" name="startdate"/></td>
            <td><input type="date" name="enddate"/></td>
          </tr>      
      </table> 
      <div>
               <div><button class="button" onclick="window.location.href='#/viewpi'">Back</button>
                    <input type="button" class="button" value="Save"/>                    
                 </div>
               
           </div> 
  </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->  
<script>
    function showcopy() {
        var copyDiv = document.getElementById("copydiv");
        if(copyDiv.style.display == 'none') {
           copyDiv.style.display = 'inline';
        } else {
           copyDiv.style.display = 'none';
        }
        return false;
    }
    function fun() {
      /* Get the text field */
      var copyText = document.getElementById("copylink");

      /* Select the text field */
      copyText.select();
      //copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      alert("Copied the link to Clipboard");
    }
</script>
<!-- footer ends -->
