<style>
    th, td {border-bottom: 1px solid #ddd; padding: 5px;}
    .displayin {display: inline;}
</style>
<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#!/home">Home</a> > <a href="#!/viewpi">Property Management</a> > <a href="#!/viewpi">Property Information</a> > Assign/Re-assign Tenant</p>   
<div class="row-padding">
    <div>
      <div class="displayin"><a href="#!/edittenant" onclick="return showcopy();">Add Tenant</a></div> <div id="copydiv" class="displayin" style="display: none"><form ng-submit="submitForm()"><input type="text" id="copylink" ng-model="EmailAddress" placeholder="tenantemail@gmail.com" required/><input type="submit" id="signupsubmit" class="button" value="Add"><img id="spinner" ng-src="assets/spinner.gif" width="70" height="40" style="display: none"/></form><span>{{result.message}}</span> <span>{{result.emailmessage}}</span></div>
    </div>
    <div style="height: 10px;"></div>
  <div class="two-column">             
      <table>
          <tr><th colspan="2">Property Information</th></tr>
          <tr><th>Type</th><th>Address</th></tr>
          <tr><td>Single Family</td><td>5 Palm Cir, Shleton, CT</td></tr>          
      </table>          
  </div>
  <div class="two-column">             
      <table>
          <tr><th colspan="4">Tenant Details <img src="assets/refresh.png" width="15px" height="15px"></th></tr>
          <tr><th colspan="2">Select</th><th>Start Date</th><th>End Date</th></tr>
          <tr>
            <td><input type="radio" name="rad" checked/></td>
            <td>Ravi</td>
            <td><input type="date" name="startdate" value="2020-07-01"/></td>
            <td><input type="date" name="enddate"/></td>
          </tr>   
          <tr>
            <td><input type="radio" name="rad"/></td>
            <td>Prakash</td>
            <td><input type="date" name="startdate"/></td>
            <td><input type="date" name="enddate"/></td>
          </tr>          
      </table> 
      <div>
               <div><button class="button" onclick="window.location.href='#!/viewpi'">Back</button>
                    <input type="button" class="button" value="Update"/>                    
                 </div>
               
           </div> 
  </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<script>
    function showcopy() {
        var copyDiv = document.getElementById("copydiv");
        if(copyDiv.style.display == 'none') {
           copyDiv.style.display = 'inline';
        } else {
           copyDiv.style.display = 'none';
        }
        return false;
    }    
</script>
<!-- footer ends -->
