<style>
    tr:hover {background-color: #b5b0b0;}
    th, td {border-bottom: 1px solid #ddd; padding: 5px;}
    table.inlineTable{display:inline;}
</style>
<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#!/home">Home</a> > <a href="#!/viewpi">Property Management</a> > <a href="#!/viewpi">Property Information</a> > View</p>   
<div class="row-padding">
    <p><a href="#!/createpi" title="create property information">Create</a></p>
    <div class="two-column">             
        <table>
          <tr><th>Type</th><th>Address</th><th>Yr Built</th></tr>
          <tr><td><a href="#!/editpi" title="edit property information">Single Family</a></td><td>5 Palm Cir, Shleton, CT</td><td>2009</td></tr>
          <tr><td><a href="#!/editpi" title="edit property information">Land</a></td><td>10 John Dr, Milford, MI</td><td>2018</td></tr>
          <tr><td><a href="#!/editpi" title="edit property information">Condo/Aptmts</a></td><td>13 Simpson Rd, Atlanta, GA</td><td>2006</td></tr>
      </table>        
    </div>
    <div class="two-column">      
            <table id="pmtable" class="inlineTable">
              <tr><th>Property Manager Details</th></tr>
              <tr><td><a href="#!/assignpm" title="assign/re-assign property manager">Kim</a>, from July 2020</td></tr>
              <tr><td><a href="#!/assignpm" title="assign/re-assign property manager">Keppler</a>, from Apr 2018</td></tr>
              <tr><td><a href="#!/assignpm" title="assign/re-assign property manager">Un Assigned</a></td></tr>
            </table>           
            <table id="ownertable" class="inlineTable">
              <tr><th>Owner Details</th></tr>
              <tr><td><a href="#!/assignowner" title="assign/re-assign owner">Adam</a>, from July 2020</td></tr>
              <tr><td><a href="#!/assignowner" title="assign/re-assign owner">Antony</a>, from Sep 2017</td></tr>
              <tr><td><a href="#!/assignowner" title="assign/re-assign owner">Un Assigned</a></td></tr>
            </table>  
            <table id="tenanttable" class="inlineTable">
              <tr><th>Tenant Details</th></tr>
              <tr><td><a href="#!/assigntenant" title="assign/re-assign tenant">Ravi</a>, from July 2020</td></tr>
              <tr><td>-</td></tr>
              <tr><td><a href="#!/assigntenant" title="assign/re-assign tenant">Vacant</a></td></tr>
          </table>  
    </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->
