<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#!/home">Home</a> > <a href="#!/myinfo">My Information</a> > Edit Phone</p>   
<div class="row-padding">
  <div class="one-column">
      <table>
             <tr>
                <td>Office Phone</td><td colspan="2"><input type="tel" class="textfield" value="401-234-5497" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/></td>
             </tr>
             <tr>
                 <td>Home Phone</td><td colspan="2"><input type="tel" class="textfield" value="" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890"/></td>
             </tr>
             <tr>
                 <td>Mobile Phone</td><td colspan="2"><input type="tel" class="textfield" value="" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890"/></td>
             </tr>
             <tr>
               <td><button class="button" onclick="window.location.href='#!/myinfo'">Back</button></td>
                <td>
                    <input type="button" class="button" value="Update"/>                    
                 </td>
                 <td><img id="spinner" ng-src="assets/spinner.gif" width="70" height="40" style="display: none"/></td>
           </tr> 
      </table>      
  </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->
