<style>
    table {
        width: 60%;
    }
    tr {
        border: 1px solid #ddd; 
        border-collapse: collapse; 
        height: 70px;
    }    
    .displayin {display: inline;}
</style>
<!-- header starts -->
<div ui-view="header">
</div>
<!-- header ends -->  
<div ui-view="menu">
</div>
<!-- content starts -->
<p><a href="#!/home">Home</a> > <a href="#!/myinfo">My Information</a></p>   
<div class="row-padding">
  <div class="one-column">
      <div id="companyowner">
      <table>
          <tr>
              <td>  
                  <div class="displayin"><br><b>Company, Organization</b><br>Google, Alphabet</div>
                  <div style="float: right"><input type="button" class="button" value="Edit" onclick="window.location.href='#!/editcompany'"></div>
              </td>
          </tr>
      </table>
      </div>
      <table>
          <tr>
              <td>        
                  <div class="displayin"><b>Name, DOB</b><br>Ramamoorthy Periasamy</div>               
                  <div class="displayin" style="float: right"><input type="button" class="button" value="Edit" onclick="window.location.href='#!/editname'"></div>
              </td>
          </tr>          
          <tr>
              <td><div class="displayin"><b>Phone</b><br>401-234-5497 (Office)</div>
                  <div class="displayin" style="float: right"><input type="button" class="button" value="Edit" onclick="window.location.href='#!/editphone'"></div></td>
          </tr>
          <tr>
              <td><div class="displayin"><b>Email</b><br>ramamoorthy_p@yahoo.com (Login)</div>
                  <div class="displayin" style="float: right"><input type="button" class="button" value="Edit" onclick="window.location.href='#!/editemail'"></div></td>
          </tr>
          <tr>
              <td><div class="displayin"><b>Password</b><br>*****</div>
                  <div class="displayin" style="float: right"><input type="button" class="button" value="Edit" onclick="window.location.href='#!/editpassword'"></div></td>
          </tr>
          <tr>
              <td><div class="displayin"><b>Address</b><br>45, Parkwood Cir, Atlantal, GA (Billing)</div>
                  <div class="displayin" style="float: right"><input type="button" class="button" value="Edit" onclick="window.location.href='#!/editaddress'"></div></td>
          </tr>
      </table>      
  </div>
</div>
<!-- content ends -->
    
<!-- footer starts -->    
<div ui-view="footer">
</div>
<!-- footer ends -->
